[submodule "external/cadical"]
	path = external/cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "external/cryptominisat"]
	path = external/cryptominisat
	url = https://github.com/msoos/cryptominisat.git
[submodule "external/pblib"]
	path = external/pblib
	url = https://github.com/master-keying/pblib.git
[submodule "external/breakid"]
	path = external/breakid
	url = https://github.com/meelgroup/breakid.git
[submodule "external/libminizinc"]
	path = external/libminizinc
	url = https://github.com/MiniZinc/libminizinc.git
[submodule "external/gecode"]
	path = external/gecode
	url = https://github.com/Gecode/gecode.git
[submodule "external/chuffed"]
	path = external/chuffed
	url = https://github.com/chuffed/chuffed.git
