[submodule "external/cadical"]
	path = external/cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "external/cryptominisat"]
	path = external/cryptominisat
	url = https://github.com/msoos/cryptominisat.git
[submodule "external/pblib"]
	path = external/pblib
	url = https://github.com/master-keying/pblib.git
